---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.name }}</h1>
    <h3>Name: <a href="page.github">{{ page.username }}</a></h3>
    <h3>Position: {{ page.position }}</h3>
    <p>
      {{ content }}
    </p>
    <h6>Posts</h6>
      <ul>
        {% assign filtered_posts = site.posts | where: 'author', page.username %}
        {% for post in filtered_posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}


