---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.name }}</h1>
    <h2>{{ page.position }}</h2>
    
    
    {% include post-meta.html %}
    > {{ content }}
      Posts
      <ul>
        {% assign filtered_posts = site.posts | where: 'author', page.github_username %}
        {% for post in filtered_posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>

    {% include nav-share.html %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}


